.IconHeaderList-icon[data-v-7818d5a5]:not(:first-child):before{content:" | "}.HobbyImage[data-v-a9584cb9]{align-self:flex-start;border-right:1px solid var(--el-border-color-light);overflow:hidden;width:300px}.HobbyImage-image[data-v-a9584cb9]{width:300px}.HobbyDetails[data-v-a9584cb9]{display:flex;flex-direction:column;height:100%;justify-content:space-between;overflow-y:auto;padding:10px;width:100%}.HobbyDetails-details[data-v-a9584cb9]{margin-top:10px}.HobbyDetails-moreInfo[data-v-a9584cb9]{align-self:flex-end;margin-bottom:10px}
