.VIcon{display:inline}.VIcon.spin svg{animation-duration:1s;animation-iteration-count:infinite;animation-name:spin;animation-timing-function:linear}.VIcon.flipHorizontal svg{transform:scaleX(-1)}.VIcon.flipVertical svg{transform:scaleY(-1)}.VIcon.flipBoth svg{transform:scale(-1)}@keyframes spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}
